{%- macro _swatch(c1, c2) -%}
  {%- if c1 == c2 %}
    <div class="placeholder"></div>
  {%- else %}
    {%- set grade = grade(c1, c2) %}
    <div class="swatch" style="--c1: {{ c1 }}; --c2: {{ c2 }};">
      <span class="swatch__sample" aria-hidden="true">Aa</span>
      <div class="score">
        <span class="score__grade score__grade--{{ grade }}">{{ grade }}</span>
        <span class="score__ratio">{{ contastRatio(c1, c2) }}</span>
      </div>
    </div>
  {%- endif %}
{%- endmacro -%}

<!DOCTYPE html>
<html lang="en" class="app">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    
  <title>Battenburg - WCAG contrast ratio color checker</title>
  <meta name="description" content="A quick and simple tool for comparing an entire palette of colours for WCAG accessible contrast.">
  
  <link rel="canonical" href="https://battenburg.app/">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap">
  <link rel="stylesheet" href="/static/styles.css">
  
  <link rel="icon" href="/static/favicon.ico" sizes="32x32">
  <link rel="icon" href="/assets/favicon.svg" sizes="any" type="image/svg+xml">
  
  <meta property="og:image" content="https://battenburg.app/static/opengraph.png">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="675">
  <meta property="og:image:type" content="image/png">
  <meta property="og:type" content="website">
  <meta property="fediverse:creator" content="@beeps@social.beeps.gay">
  
</head>
<body class="app__body">

  <div class="app__sidebar">
    <header>
      <h1>Battenburg</h1>
      <p>Quickly compare every color in your palette against each other to see which combinations meet the Web Content Accessibility Guidelines (<abbr>WCAG</abbr>) minimum contrast ratios.</p>
    </header>
  
    <form class="card form" action="/" method="post">
      <label class="form__label" for="colors"><h2>Color list</h2></label>
      <div class="form__hint" id="colors-hint">Hexadecimal color codes, in 3 or 6 digit format. One per line.</div>
      <textarea class="form__input" id="colors" aria-describedby="colors-hint" name="colors" cols="7" rows="10">{{- colors.join("\n") -}}</textarea>
      <button class="form__button" type="submit">Compare colors</button>
    </form>

    <div class="card">
      <h2>Scoring guide</h2>
      <dl class="score-guide">
        <dt>
          <div class="score">
            <span class="score__grade score__grade--AAA">AAA</span>
            <span class="score__ratio">&ge;7.00</span>
          </div>
        </dt>
        <dd>Sufficient contrast for any text at WCAG Level AAA.</dd>
        <dt>
          <div class="score">
            <span class="score__grade score__grade--AA">AA</span>
            <span class="score__ratio">&ge;4.50</span>
          </div>
        </dt>
        <dd>Sufficient contrast for any text at WCAG Level AA, and <b>large</b> text at Level AAA.</dd>
        <dt>
          <div class="score">
            <span class="score__grade score__grade--AAL">AAL</span>
            <span class="score__ratio">&ge;3.00</span>
          </div>
        </dt>
        <dd>Sufficient contrast for UI elements and <b>large</b> text at WCAG Level AA.</dd>
        <dt>
          <div class="score">
            <span class="score__grade score__grade--Fail">Fail</span>
            <span class="score__ratio">&lt;3.00</span>
          </div>
        </dt>
        <dd>Doesn't meet minimum contrast. Only suitable for disabled UI elements and presentational (non-content) elements.</dd>
      </dl>
    </div>
  </div>

  <div class="app__grid">
    {%- if colors | length > 0 %}
      <div class="grid">
        <table>
          <thead>
            <tr>
              <td></td>
              {%- for c2 in colors %}
                <th scope="col">
                  <div class="color-label" style="--c: {{ c2 }};">{{ c2 }}</div>
                </th>
              {%- endfor %}
            </tr>
          </thead>
          <tbody>
            {%- for c1 in colors %}
              <tr>
                <th scope="row">
                  <div class="color-label" style="--c: {{ c1 }};">{{ c1 }}</div>
                </th>
                {%- for c2 in colors %}
                  <td>
                    {{ _swatch(c1, c2) }}
                  </td>
                {%- endfor %}
              </tr>
            {%- endfor %}
          </tbody>
        </table>
      </div>
    {%- endif %}
  </div>
  
  <footer class="app__footer">
    <ul>
      <li><a href="//beeps.website/blog/2026-07-09-accessible-contrast-ratio-colour-grid-thing/">About</a></li>
      <li><a href="//github.com/querkmachine/battenburg.app">GitHub</a></li>
      <li>Made by <a href="//beeps.website"><img alt="" src="https://beeps.website/assets/images/ash/tail.svg"> beeps</a></li>
    </ul>
  </footer>

</body>
</html>
